/******************************************************************
Site Name: Kim Myers for Congress
Author: Lucian Tucker

******************************************************************/

html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#admin-menu-wrapper {
	letter-spacing: 0!important;
}

/*    TYPOGRAPHY
/*--------------------------------------*/

@font-face {
    font-family: 'Klinic';
    src: url('fonts/klinicslabboldit-webfont.eot');
    src: url('fonts/klinicslabboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klinicslabboldit-webfont.woff2') format('woff2'),
         url('fonts/klinicslabboldit-webfont.woff') format('woff'),
         url('fonts/klinicslabboldit-webfont.ttf') format('truetype'),
         url('fonts/klinicslabboldit-webfont.svg#klinic_slabbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Klinic';
    src: url('klinicslabmediumit-webfont.eot');
    src: url('klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabmediumit-webfont.woff2') format('woff2'),
         url('klinicslabmediumit-webfont.woff') format('woff'),
         url('klinicslabmediumit-webfont.ttf') format('truetype'),
         url('klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}
html {
    font: 22px/26px "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #242f33;
    letter-spacing: 1.5px;
}
h1, h2, h3, h4, h5, h6 {
	color: #134369;
	margin-top: 0;
	font-weight: 600;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	margin: 35px 0;
}
.not-front article h2 {
	font-family: Klinic;
	font-weight: 300;
	font-style: italic;
	color: #08a1e1;
}
h1 {
	font-size: 1.8em /*40px*/;
}
h2 {
	font-size: 1.6em /*36px*/;
}
h3 {
	font-size: 1.1em /*25px*/;
}
h4 {
	font-size: .9em /*20px*/;
}
h5 {
	font-size: .86em /*19px*/;
}
h6 {
	font-size: .86em /*19px*/;
}
a {
	text-decoration: none;
	color: #00aef3;
}
a.btn {
	display: block;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
	width: 315px;
	padding: 20px 0;
}

/*    MAIN CONTENT
/*--------------------------------------*/

/* Containers */
.content {
	width: 1100px;
	margin: 0 auto;
}
.hero, .front .support, .front section.twitter, .front .photo-gallery, .front .about, section.donate, .front .support {
	float: left;
	clear: both;
	width: 100%;
}

/* Header */
.header-container {
	background: #134369;
	width: 100%;
	padding: 22px 0;
}
header {
	width: 1100px;
	margin: 0 auto;
}
header h1 {
	display: inline;
	float: left;
	clear: left;
	margin: 0;
}
header nav {
	float: right;
	clear: right;
}
nav li {
	display: inline-block;
}
nav.main li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: .8em;
}
header nav.main li a.donate {
	color: white;
	background-color: #ab3c39;
	padding: 13px 45px;
	font-weight: 500;
}
header nav.social {
	margin-bottom: 20px;
	margin-top: -10px;
}
nav.social li.twitter a {
	margin-left: 6px;
}

/* Home - Hero */
.hero {
	background-image: url('../img/landscape.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 670px;
}
.hero .content {
	height: 670px;
	background-image: url('../img/transparent-kim.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: 99999999;
}
.hero h2 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 45px;
	font-size: 1.4em;
}
.hero form {
	background-color: rgba(255, 255, 255, 0.85);
	width: 485px;
	float: right;
	clear: right;
	padding: 50px 30px;
}
.hero form ul {
	margin: 0;
	padding: 0;
}
/* Generic Form Styles */
form li {
	list-style: none;
	display: inline;
}
form input[type="text"] {
	border: 4px solid #ccc;
	font-weight: 500;
	font-size: .77em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	padding: 20px;
	margin: 0 0 20px 0;
}
form input[type="button"] {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background-color: #00aef3;
	color: white;
	font-weight: 500;
	letter-spacing: 1.5px;
	border: none;
	text-transform: uppercase;
	font-size: .9em;
}
/* End */
.hero form input#email {
	width: 250px;
	margin-right: 7px;
}
.hero form input#zip {
	width: 120px;
	float: right;
}
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
	color: #a1a1a1;
}
.star {
	display: inline-block;
	width: 23px;
	height: 23px;
	background-image: url('../img/star-icon.png');
	margin-right: 22px;
}
.star.right {
	margin: 0 0 0 22px;
}

/* Home - About */
.about {
	margin: 80px 0 0 0;
}
.about h2 {
	text-align: center;
}
.about p {
	font-size: 1.1em;
	line-height: 1.4em;
}
.about a.btn {
	background-color: #7ac144;
}

/* Twitter */
.front section.twitter {
	background: url('../img/twitter-lg-bg.jpg') no-repeat center top;
	background-size: cover;
	padding: 100px 0 80px 0;
	text-align: center;
	color: white;
	position: relative;
}
.twitter a.btn {
	background-color: #00aef3;
	margin-top: 30px;
}
section.twitter .tweet {
	font-size: 1.4em;
	line-height: 1.4em;
	width: 820px;
	margin: 0 auto;
}
section.twitter p {
	margin: 0;
}
section.twitter .tweet .date {
	text-transform: uppercase;
	font-size: .47em;
}
section.twitter .controls {
	width: 1100px;
	position: absolute;
	height: 60px;
	top: 190px;
	z-index: 1;
}
section.twitter .controls .arrow-left {
	position: absolute;
	left: 0;
}
section.twitter .controls .arrow-right {
	position: absolute;
	right: 0;
}

/* Support */
.front .support {
	text-align: center;
	margin: 75px 0 70px 0;
}
.front .support p {
	font-size: 1.1em;
}
.support ul {
	margin: 35px 0 40px 0;
	text-align: center;
}
.support li {
	display: inline-block;
	margin: 0 6px;
}
.support a.btn {
	background-color: #7ac144;
}

/* Photo Gallery */
.photo-gallery {
	padding: 30px 0 95px 0;
}
.photo-gallery .left {
	float: left;
	clear: left;
	width: 527px;
}
.photo-gallery .right {
	float: right;
	clear: right;
	width: 547px;
}
.photo-gallery li {
	margin-top: 30px;
	font-size: 1.4em;
	line-height: 1.4em;
	text-align: center;
	color: white;
	font-weight: 500;
	padding: 0;
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.54s ease-in-out;
}
.photo-gallery li .overlay {
	width: 100%;
	height: 100%;
	transition: all 0.54s ease-in-out;
}
.photo-gallery li .overlay:hover {
	background: rgba(60, 102, 133, 0.8);
}
.photo-gallery li .field-type-text {
	width: 450px;
	height: 150px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -95px 0 0 -245px;
	opacity: 0;
	transition: all 0.54s ease-in-out;
}
.photo-gallery li:hover .field-type-text {
	opacity: 1;
}
.photo-gallery .left li {
	width: 527px;
	height: 263px;
}
.photo-gallery .right li {
	width: 547px;
	height: 410px;
}

/* Donate */
section.donate {
	background-color: #00aef3;
	padding: 37px 0 46px 0;
}
section.donate p {
	color: white;
	font-size: .9em;
	width: 550px;
	float: left;
}
section.donate h2 {
	width: 550px;
	margin-bottom: 0;
}
section.donate .content ol {
	float: right;
	clear: right;
	width: 510px!important;
}
section.donate li {
	background-color: #f14444;
	border: 2px solid #f43d3d;
	width: 95px;
	padding: 30px 0;
	margin: 0 0 0 20px ;
	border-radius: 95px;
	list-style: none;
	text-align: center;
	display: inline-block;
	transition: all 0.2s ease;
}
section.donate li:hover {
	background-color: #f65151;
	border: 2px solid #f14444;
	transform: scale(1.07,1.07);
}
section.donate a {
	font-size: 1.8em;
	color: white;
	font-family: Klinic;
	font-weight: bold;
	font-style: italic;
}

/* Footer */
.footer-container {
	background-color: #071e30;
	width: 100%;
	text-align: center;
	padding: 113px 0 95px 0;
}
footer .logo {
	max-width: 118px;
	height: auto;
}
footer li a.donate {
	color: #ad3b36;
}
footer nav.main li a {
	padding: 5px 15px;
	font-weight: 400;
	font-size: .7em;
}
footer nav, footer nav ul {
	display: inline-block;
}
footer nav {
	margin: 30px 0 43px 0;
}
footer p {
	color: white;
	border: 2px solid white;
	width: 700px;
	margin: 0 auto;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: .7em;
}

/* Interior */
.not-front .hero {
	height: 433px;
}
.not-front article {
	width: 700px;
	padding: 60px 0;
	float: left;
	clear: left;
}
.sidebar {
	float: right;
	clear: right;
	width: 380px;
	margin-top: 0;
}
.with-hero.sidebar {
	margin-top: -90px;
}

/* Interior - Issues */
.item-list .node-issue {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

/* Interior - Sidebar */
.sidebar h2 {
	font-size: 1.09em;
}

/* Interior - Form */
.sidebar form {
	background: url('../img/transparent.png') repeat;
	padding: 25px;
	margin-bottom: 20px;
}
.sidebar form p {
	font-size: .7em;
	line-height: 1.4em;
}
.sidebar form input#email {
	width: 308px;
	margin: 0 0 8px 0;
}
.sidebar form input#zip {
	width: 100px;
	float: left;
}
.sidebar form input[type="text"] {
	font-size: .72em;
	padding: 8px;
	margin: 0 0 20px 0;
	border: 3px solid #ccc;
}
.sidebar form input[type="button"] {
	width: 200px;
	margin-left: 5px;
	padding: 11px 0;
	text-align: center;
	background-color: #7ac144;
	font-size: .72em;
	float: right;
}

/* Interior - Twitter */
.sidebar .twitter {
	background: url('../img/twitter-sm-bg.jpg') no-repeat center top;
	background-size: cover;
	padding: 55px 40px;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}
.sidebar .twitter h2 {
	font-size: 1.1em;
	margin-top: 40px;
	font-weight: 400;
}
.sidebar .twitter p {
	font-size: .77em;
	line-height: 1.4em;
}
.sidebar .twitter .tweet .date {
	text-transform: uppercase;
	font-size: .57em;
}
.sidebar .twitter a.btn {
	padding: 10px 0;
	font-size: .72em;
	width: 200px;
}

/* Interior - Support */
.sidebar .support {
	background-color: #ebebeb;
	padding: 25px;
	margin-bottom: 20px;
}
.sidebar .support p {
	font-size: .72em;
	line-height: 1.4em;
}
.sidebar .support li {
	display: inline-block;
	margin: 5px 2px;
}
.sidebar .support .btn {
	padding: 10px 0;
	font-size: .72em;
	width: 200px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}